body {
    background:#16161a;
    color:#fffffe;
    font-family:Helvetica, Arial, sans-serif;
    margin:0;
}

* {
    margin-top:0;
    margin-bottom:0;
}

img {
    border-radius:4px;
    background:#321d71;
}

button {
    background:#7f5af0;
    color:#fffffe;
    border:0;
    border-radius:4px;
    height:30px;
    transition:background 0.5s, color 0.5s;
    cursor:pointer;
}

button:focus, button:hover, button:focus-within {
    background:#00ebc7;
    color:#010101;
}

a, a:visited{
    color:#fffffe;
}

.header a, .header a:visited {
    text-decoration:none !important;
}

.header {
    width:calc(100% - 20px);
    background:#3c3c3c;
    padding: 10px;
    height:30px;
}

.header .l {
    width:200px;
    float:left;
    height:100%;
}

.header .r {
    width:calc(100% - 210px);
    text-align:right;
    float:right;
    height:100%;
}

@media (max-width:615px) {
    .header .l {
        width:0px !important;
        display:none;
    }

    .header .r {
        width:100% !important;
    }
    
    .mods div {
        width: calc(100vw - 40px) !important;
        height: 275px !important;
        background: #151539 !important;
        border-radius: 4px !important;
        margin: 0px !important;
        margin-top: 10px !important;
    }
    
    .mods div img {
        margin: 0 auto !important;
        margin-top: 0px !important;
        margin-top: 25px !important;
        display: block !important;
    }
}

.header button {
    height:100%;
}

.main {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}

.main .escapeMargin {
    margin-left:-10px;
    margin-right:-10px;
    margin-top:-10px;
}

.section h2, .section p {
    margin-bottom:7.5px;
}

.foreskin {
    height:500px;
    width:auto;
}

.mods {
    width: calc(100vw - 20px);
    height: fit-content;
    height: -moz-fit-content;
    margin: 10px 0px;
    float: left;
}

.mods div {
    width:200px;
    height:275px;
    background:#151539;
    border-radius:4px;
    float:left;
    margin-right:10px;
    margin-top:10px;
}

.mods div img {
    width:150px;
    height:150px;
    margin-left:25px;
    margin-top:25px;
}

.mods div h3 {
    text-align:center !important;
    padding-left:25px;
    padding-right:25px;
    margin-top:10px;
}

.mods div p {
    text-align:center;
    padding-left:25px;
    padding-right:25px;
    margin-top:5px;
}
